#contributions {
  margin: 50vh 0;
  padding: 1rem 0;
}

.timeline {
  margin: 12px 0;
  padding: 1.5rem 3rem;
  text-align: center;
  color: #fff;
  font-family: Kanit, "Segoe UI", sans-serif;

  .timeline-content {
    .right {
      text-align: left;
    }

    p {
      font-family: Kanit, "Segoe UI", sans-serif;

      a {
        color: #fff;

        :hover {
          color: #fff !important;
          text-decoration: underline !important;
          text-decoration-color: #3273dc;
        }
      }
    }
  }

  .tag {
    font-size: 12.5px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent !important;
  }

  .timeline-item::before {
    background-color: #fff;
  }
}
