#ContactForm {
  margin: 14vh auto;
}

form {
  padding: 1.3rem 6rem 0 0;
  .field {
    .label {
      color: white;
    }

    .help {
      font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
      color: #adadad;
    }

    .control,
    .input,
    select,
    textarea {
      font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
      color: #fff;
      background-color: transparent;
      vertical-align: middle;

      :focus {
        border-color: #3273dc;
      }

      option {
        color: #222;
      }
    }

    .button {
      font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
      margin: 3px 0;
      color: #fff;
      border-color: #fff;
      background-color: transparent;
      vertical-align: middle;
    }

    .button.is-hovered,
    .button:hover {
      border-color: #3273dc;
      color: #3273dc;
    }
  }

  // Form's placeholders color changer
  ::placeholder {
    color: #fff !important;
    opacity: 0.9 !important;
  }

  ::placeholder {
    color: #fff !important;
    opacity: 0.9 !important;
  }

  ::placeholder {
    color: #fff !important;
    opacity: 0.9 !important;
  }
}
