.hero-body {
  padding: 2rem 1.5rem;
  margin: 20vh 8vw;

  .container {
    .title {
      font-weight: bold;
      color: whitesmoke;
    }

    .subtitle {
      color: #b4b4b4;
      font-family: "Kanit", sans-serif;
      font-weight: 300;
    }

    .button {
      font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
      margin: auto 5px;
      color: #fff;
      border-color: #fff;
      background-color: transparent;
      vertical-align: middle;
    }

    .button.is-hovered,
    .button:hover {
      border-color: #3273dc;
      color: #3273dc;
    }
  }
}
