.hero-body {
  padding: 2rem 1.5rem;
  margin: 25vh 7.2vw;

  .container {
    .title {
      font-weight: bold;
      color: whitesmoke;
      text-transform: uppercase;
      font-size: 50px;
    }

    .subtitle {
      color: #b4b4b4;
      font-weight: 300;
    }

    .is-outlined {
      margin: auto 5px;
      color: #fff;
      border-color: #fff;
      background-color: transparent;
      vertical-align: middle;

      svg {
        margin: auto 6px auto auto;
      }
    }

    .button.is-hovered,
    .button:hover {
      border-color: #3273dc;
      color: #3273dc;
    }
  }
}
