.ContentWrapper {
  margin: 40vh auto;
}

h2 {
  color: #fff;
  font-size: 22px;
}

hr {
  margin: 10px auto;
  display: block;
  border: none;
  height: 1px;
  border-radius: 15px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    580,
    from(#fff),
    to(rgba(104, 104, 104, 0.3))
  );
}

.ProjectsList {
  margin: 8px auto;
  padding: 0.9rem auto !important;
}

.card {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  vertical-align: middle;
  background-color: transparent;

  .media {
    margin-bottom: 0.8rem !important;
  }

  .Icon {
    border-radius: 25%;
  }

  .title {
    font-family: yeysk, sans-serif;
    font-size: 17px;
    color: #fff;
  }

  .content {
    color: #ececec;
  }

  .button {
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    margin: auto 5px;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    vertical-align: middle;
  }

  .button.is-hovered,
  .button:hover {
    border-color: #3273dc;
    color: #3273dc;
  }
}
