.ContentWrapper {
  margin: 50vh auto 18vh auto;
  padding: 1rem 3rem;
}

h2 {
  color: #fff;
  font-size: 22px;
}

hr {
  margin: 10px auto;
  display: block;
  border: none;
  height: 1px;
  border-radius: 15px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    580,
    from(#fff),
    to(rgba(104, 104, 104, 0.3))
  );
}

.ProjectsList {
  margin: 8px auto;
  padding: 0.9rem auto !important;
}

.card-content {
  padding: 1.5rem 2rem;
}

.card {
  vertical-align: middle;
  background-color: transparent;
  margin: 0 auto;
  flex-grow: 0;
  flex-basis: auto;

  .media {
    margin-bottom: 0.8rem !important;
    align-items: center;
  }

  .Icon {
    border-radius: 25%;
  }

  .title {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #fff;
  }

  .content {
    color: #ececec;
    margin-bottom: 1rem !important;
  }

  .label {
    color: #8f8f8fd0;
    font-weight: 600;
    font-style: italic;
  }

  .button {
    margin: 3px 6px auto 0;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    vertical-align: middle;

    svg {
      margin: auto 6px auto auto;
    }
  }

  .button.is-hovered,
  .button:hover {
    border-color: #3273dc;
    color: #3273dc;
  }
}
