/*
Also available:
font-family: 'Kanit', sans-serif;
https://fonts.googleapis.com/css?family=Kanit&display=swap

! This is pre-configured
! Ready to use
*/

/*
 *
 * Global Styling
 *
*/

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Kanit, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

#mainContent {
  z-index: 2;
}

.hero {
  margin: 0;
  padding: 0;
}

h2.has-text-centered {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button {
  margin: 3px 6px auto 0;
  padding: calc(0.5em - 1px) 0.8em;
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  vertical-align: middle;

  i {
    margin: auto 6px auto auto;
  }
}

.button.is-hovered,
.button:hover {
  border-color: #3273dc;
  color: #3273dc;
}
