@font-face {
  font-family: raven-serif;
  src: url("./assets/fonts/raven_serif.ttf");
}

@font-face {
  font-family: yeysk;
  src: url("./assets/fonts/yeysk.otf");
}

/*
Also available:
 font-family: 'Kanit', sans-serif;
 https://fonts.googleapis.com/css?family=Kanit&display=swap
*/

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: yeysk, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.Wrapper {
  z-index: 2;
}

.hero {
  margin: 0;
  padding: 0;
}
