.navbar {
  margin-bottom: 30px;

  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.navbar-item {
  color: whitesmoke;
  font-size: 12.8px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.branding {
  margin-left: 100px;
}

.navbar-brand {
  margin-right: 135px;
}

.navbar-end {
  margin-right: 125px;

  .navbar-item {
    color: white;

    :hover {
      color: #3273dc;
      border-bottom: 1px solid white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-item {
    text-align: right;
  }
}
